
body {
    background-color: #8cd8f0;
    padding: 0;
    margin: 0;
}

.dropdown-toggle .icon-bars-button{
    display: inline-block;
    vertical-align:middle;
  }
  .dropdown-toggle .icon-bar {
    margin-bottom:2px;
    display: block;
    width: 22px;
    height: 2px;
    background-color: #cccccc;
    border-radius: 1px;
  }

h1, h2 {
    color: #012174;
    text-align: center;
    font-weight: bold;
    color: 
}

p {
    color: #0e52ff;
    font-size: 16px;
    text-align: center;

}

img {
    display: block;
}

